<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itsource.poverty_alleviation.mapper.FeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.itsource.poverty_alleviation.domain.Feedback">
        <id column="ID" property="id" />
        <result column="user_id" property="userId" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="submit_time" property="submitTime" />
        <result column="status" property="status" />
        <result column="priority" property="priority" />
        <result column="feedback_type" property="feedbackType" />
        <result column="attachment" property="attachment" />
        <result column="handler" property="handler" />
        <result column="handle_time" property="handleTime" />
        <result column="handle_remark" property="handleRemark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, user_id, title, content, submit_time, status, priority, feedback_type, attachment, handler, handle_time, handle_remark
    </sql>

</mapper>
